<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul>
            <%for(let item of itemsInCart){%>
            <li>
                <P>
                    <%=item.title%> (<%=item.quantity%>)
                </P>
                <form action="/cart-delete-item" method="post">
                    <button type="submit" class="btn">Delete</button>
                    <input type="hidden" name="productId" value="<%=item.id%>">
                </form>
            </li>
            <% }%>
        </ul>
    </main>
    <%- include('../includes/end.ejs') %>